html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="assets/fonts/font-awesome/css/all.css")
    script(src="js/app.min.js")
    title CV
  body
    header
    .content.paper.z-depth-1.hoverable
      .header.flex-container
        .header-left
          h4 Ron Boortman
          span.personal
            | I am a young family man and I love spending time with my two daughters and wife. I enjoy the thrill of snow boarding and the dynamics of water polo games. Strategic thinking in board gaming keeps me entertained in my spare time.
        .header-middel
          .profile.z-depth-2.hoverable
        .header-right.flex-container
          .flex-container
            .icon
              i.fas.fa-birthday-cake
            .value 10 Nov 1988
          .flex-container
            .icon
              i.fas.fa-map-marked-alt
            .value
              a(href="https://www.google.nl/maps/place/Brahmslaan+89,+2625+BT+Delft/@51.9957059,4.3346614,17z") Brahsmlaan 89 2625 BT, Delft
          .flex-container
            .icon
              i.fas.fa-phone-square
            .value
              a(href="tel:0632278229") +31 6 32 27 82 29
          .flex-container
            .icon
              i.fas.fa-envelope
            .value
              a(href='mailto:ron@boortman.nl?subject=I have a job for you!') ron@boortman.nl
          .flex-container
            .icon
              i.fab.fa-linkedin
            .value
              a(href='https://nl.linkedin.com/in/ron-boortman' target='_blank') ron-boortman
          .flex-container
            .icon
              i.fab.fa-skype
            .value
              a(href='skype:ron.boortman?userinfo') ron.boortman
          
      .timelines-wrapper.flex-container
        .timeline-wrapper
          .cards.cards-top
            #university.card.education.from-2007-10
              .card-content
                span.card-title BSc Computer Science
                p.sub-title @TU Delft, graduated in 2012
                p I learned to program in many different languages. However, the main focus of this study was to prepare me to work in a team and become a project manager.
              .timeline-arrow
                img.arrow-image(src='assets/img/arrow3.png')
          .timeline-details-wrapper
            #minor.timeline-details.to-2010-8
              .timeline-text
                | Minor in Bandung
                br
                | Indonesia
              .timeline-arrow
                img.arrow-image(src='assets/img/arrow1.png')
          .experience.experience-top
            .line-wrapper.education.from-2007-7.to-2010-12
              .line
              .line.from-2010-6.to-2010-12
          .timeline.flex-container
            .timeline-piece.flex-container
              .year.flex-container.z-depth-2 2007
            .timeline-piece.flex-container
              .year.flex-container.z-depth-2 2008
            .timeline-piece.flex-container
              .year.flex-container.z-depth-2 2009
            .timeline-piece.flex-container
              .year.flex-container.z-depth-2 2010
            .timeline-piece.flex-container
              .year.flex-container.z-depth-2 2011
          .experience.experience-bottom

        .timeline-wrapper
          .cards.cards-top
            #hysmooi.card.work.to-2014-12.push-row-1
              .card-content
                span.card-title Web Developer
                p.sub-title @HY's Mooi
                p As a part-time job I created a website for a car revision company from scratch.
              .timeline-arrow
                img.arrow-image(src='assets/img/arrow3.png')
          .timeline-details-wrapper
            #internship.timeline-details.from-2011-8
              .timeline-text
                | Internship at
                br
                | Experius
              .timeline-arrow
                img.arrow-image(src='assets/img/arrow1.png')
          .experience.experience-top
              .line-wrapper.education.from-2011-1.to-2012-6
                .line
                .line.from-2012-1.to-2012-6
              .line-wrapper.work.from-2011-1.to-2013-12.disable-continued
                .line
          .timeline.flex-container
            .timeline-piece.flex-container
              .year.flex-container.z-depth-2 2011
            .timeline-piece.flex-container
              .year.flex-container.z-depth-2 2012
            .timeline-piece.flex-container
              .year.flex-container.z-depth-2 2013
            .timeline-piece.flex-container
              .year.flex-container.z-depth-2 2014
            .timeline-piece.flex-container
              .year.flex-container.z-depth-2 2015
          .experience.experience-bottom
            .line-wrapper.work.from-2014-1.to-2014-12
              .line
            .line-wrapper.work.from-2011-2.to-2012-6
              .line
            .line-wrapper.work.from-2012-8.to-2013-12
              .line
          .cards.cards-bottom
            #ogd.card.work.from-2011-1
              .card-content
                span.card-title IT Officer
                p.sub-title @OGD, Delft
                p OGD specializes in aiding other companies with their computer and IT related problems. Working here I came in contact with a wide variety of hard- and software issues.
              .timeline-arrow
                img.arrow-image(src='assets/img/arrow1.png')
            #hkv.card.work.to-2014-12
              .card-content
                span.card-title IT Project Manager
                p.sub-title @HKV, Jakarta
                p At HKV I was responsible for multiple software products and projects in a small team.
              .timeline-arrow
                img.arrow-image(src='assets/img/arrow1.png')

        .timeline-wrapper
          .experience.experience-top
          .timeline.flex-container
            .timeline-piece.flex-container
              .year.flex-container.z-depth-2 2015
            .timeline-piece.flex-container
              .year.flex-container.z-depth-2 2016
            .timeline-piece.flex-container
              .year.flex-container.z-depth-2 2017
            .timeline-piece.flex-container
              .year.flex-container.z-depth-2 2018
            .timeline-piece.flex-container
              .year.flex-container.z-depth-2 2019
          .experience.experience-bottom
            .line-wrapper.work.from-2015-1.to-2017-10
              .line
            .line-wrapper.work.from-2017-11.to-2018-8
              .line
          .cards.cards-bottom
            #floodtags.card.work.from-2011-1.push-row-1
              .card-content
                span.card-title Tech Lead
                p.sub-title @FloodTags
                p I was working at FloodTags since it was founded. I built up the whole software architecture from the ground up including a custom built REST API, front-end dashboard and a back-end scalable enough to handle a large amount of data.
              .timeline-arrow
                img.arrow-image(src='assets/img/arrow2.png')
            #skim.card.work.to-2014-12
              .card-content
                span.card-title Senior Developer
                p.sub-title @SKIM, Rotterdam
                p At SKIM I work in a small team and I mostly handle project based work. Moreover, I supervise a long term project with multiple stakeholders. To support my work, I am learning about artificial inteligence and machine learning.
              .timeline-arrow
                img.arrow-image(src='assets/img/arrow1.png')


      .details-wrapper.flex-container
        .enjoyment.details-child
          h5 Things I enjoy
          .flex-container
            .enjoy-item
              i.fas.fa-swimmer.fa-2x
              p Water polo
            .enjoy-item
              i.fas.fa-users.fa-2x
              p My family
            .enjoy-item
              i.fas.fa-dice.fa-2x
              p Board games
          .flex-container
            .enjoy-item
              i.fas.fa-utensils.fa-2x
              p Cooking
            .enjoy-item
              i.fas.fa-film.fa-2x
              p Movies
            .enjoy-item
              i.fas.fa-podcast.fa-2x
              p Podcasts
        .skills.details-child
          h5.center Things I can do
          .star-skills.flex-container
            .star-container.center
              .skill JavaScript
              .stars.flex-container
                .star.full.star5
                .star.half.star4half.checked
                .star.full.star4
                .star.half.star3half
                .star.full.star3
                .star.half.star2half
                .star.full.star2
                .star.half.star1half
                .star.full.star1
                .star.half.star0half
            .star-container.center
              .skill RESTful API
              .stars.flex-container
                .star.full.star5
                .star.half.star4half
                .star.full.star4.checked
                .star.half.star3half
                .star.full.star3
                .star.half.star2half
                .star.full.star2
                .star.half.star1half
                .star.full.star1
                .star.half.star0half
            .star-container.center
              .skill Software Architecture
              .stars.flex-container
                .star.full.star5
                .star.half.star4half.checked
                .star.full.star4
                .star.half.star3half
                .star.full.star3
                .star.half.star2half
                .star.full.star2
                .star.half.star1half
                .star.full.star1
                .star.half.star0half
          .text-skills.flex-container
            .left-text.text-container
              h6.center Programming languages
              span JavaScript, NodeJS, HTML, Jade/Pug, CSS, SASS, jQuery, Python, PHP, Java, Ruby
            .right-text.text-container
              h6.center Other skills
              span Dyslexia, Big Data, Kafka, Front-end templating (Angular, React), Elasticsearch, MongoDB, MySQL, CI/CD, UNIX command line, Amazon AWS
